/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
} */


.contact {
    /* border: 1px solid blue; */
    /* height:80vh; */
    background-color: black;


    background: url("../img/front-view-chocolate-cake-concept.jpg") no-repeat;

    background-size: cover;
    background-position: 60% 80%;
    background-attachment: fixed;




    padding: 0 2%;


}

.contact-main>h1 {
    padding: 10px;
    /* text-align: center; */
}

.con-head {
    /* border: 1px solid; */

}

/* .con-head h1 {
    text-align: center;
 
    color: #df5e13;

    font-weight: 400;
    padding-top: 2%;


} */

.contact-head {
    color: white;
    /* padding: 10px 0; */

}

.contact-head h1 {
    padding: 13px 0;
}

.top-name {

    text-align: center;
    /* margin: 10% 0; */

    color: white;
    margin-top: 5%;
    line-height: 2;

}

.top-name nav a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.con1 {
    /* border: 1px solid palevioletred; */
    background: url("../img/breadcrumbs-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 10%;
}

.con1 .con-head {
    background-color: transparent;

}





.thought {
    /* border: 1px solid red; */
    padding: 0 2%;

}

.thought .thought-box {
    /* border: 1px solid; */
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    padding-top: 3%;
    gap: 40px;



}

.thought .thought-box1 {
    /* border: 1px solid; */
    width: 50%;



}

.thought-info {
    /* border: 1px solid; */
}

.thought-info h3 {
    /* font-size: 20px; */
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 2.5;

}

.thought-info h1 {
    font-size: 37px;
    font-weight: 400;
    padding-bottom: 3%;


}

.thought-info p {
    /* border: 1px solid; */
    text-align: justify;
    font-size: 17px;
    font-weight: 400;
    word-spacing: 4px;
    line-height: 1.5;
    color: #000000bb;
    padding-bottom: 6%;

}


.thought-info1 ul li {
    list-style: none;
}

.thought-info1 h1 {
    font-size: 27px;
    font-weight: 300;
    padding-bottom: 3%;
}

.thought-info1 a i {
    padding-right: 2%;
    color: black;

}


.thought-info1 ul>li {
    font-size: 19px;
    padding-bottom: 2%;

}






.thought-img-box:hover img {

    transform: rotate(2deg) scale(1.1);


}




.thought-img {
    /* border: 1px solid red; */
    display: flex;
    gap: 5%;

    margin-top: 5%;
    position: relative;
    overflow: hidden;

}

.thought-img .thought-img-box {
    /* border: 1px solid; */
    width: 150px;
    height: 150px;
    overflow: hidden;
    transition: 2s;

}

.thought-img .thought-img-box img {
    /* border: 1px solid; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 2s;


}

header .shop-name {
    /* border: 1px solid; */
    text-align: center;
    padding: 4%;
}

header .shop-name h1 {
    font-size: 50px;
    font-weight: 400;
}



.thought-form .form-box {
    /* border: 1px solid white; */
    margin-bottom: 3%;
    /* padding: 15px 0; */

}

.thought-form .form-box input {
    width: 100%;
    padding: 3% 0;
    font-size: 15px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #a89b9b8a;
}

.thought-form .addtocart {
    padding: 2% 4%;
    background-color: #240710;
    background-color: #df5e13;
    color: white;
    border: none;
    font-size: 16px;
    transition: 1s;

}

.thought-form .addtocart:hover {
    border: 1px solid lightgray;
    background-color: transparent;
    color: white;






}

.thought-box2 {
    box-shadow: 1px 0px 17px 1px #ffc0cb7a;
    padding: 1%;

}

.thought-box2 h1 {
    font-weight: 300;
    word-spacing: 8px;
    padding-bottom: 10px;
    color: black;

}

.contact .branch {
    /* border: 1px solid blue; */
    padding: 0 2%;
    /* margin-top: 6%; */
    /* background-color: white; */


}

.contact .branch h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.5;
    padding-bottom: 10px;
    color: white;

    /* text-align: center; */

}

.contact .branch>p {
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 2.5;
    /* padding-top: 2%; */


}

.contact-form {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 33px 0;
}

.contact-form .contact-form1 {
    /* border: 1px solid blue; */
    width: 50%;

}

.contact-form .contact-form2 {
    /* border: 1px solid orangered; */
    width: 50%;
}

.contact-img {
    /* border: 1px solid; */
    margin: 0 auto;
    width: 550px;
    height: 400px;
    padding-top: 8%;

}

.contact-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.contact-form .thought-form {

    /* border: 1px solid red; */

    padding: 20px;
    box-shadow: 1px 0px 7px 1px #ffc0cb7a;
    backdrop-filter: blur(7px);
}

input[type="date"] {
    color: gray;
}

.branch-box {
    /* border: 1px solid red; */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px 0;
    gap: 10px;




}

.branch-box1 {
    border: 1px solid #c28629cc;
    width: 330px;
    height: 200px;
    padding: 10px 0;
    backdrop-filter: blur(10px);
}




.branch-icon {
    /* border: 1px solid white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
        background-color: white; */
    color: #c19d56;
    text-align: center;

    margin: 0 auto;
    /* box-shadow: 1px 0px 17px 1px #ffc0cb7a; */


}

.branch-icon i {
    font-size: 35px;
    padding: 20px;
}

.branch-icon .fa-envelope {
    padding: 22px 32px;
}


.branch-info {
    /* border: 1px solid; */
    text-align: center;
}

.branch-info h2 {

    font-weight: 400;
    padding: 7px 0;
    word-spacing: 2px;
    color: #c28629cc;




}

.branch-info P {
    word-spacing: 2px;
    font-size: 18px;
    line-height: 1.4;
    color: white;

}

.map {
    /* border: 1px solid red; */
    overflow: hidden;


}

footer {
    /* border: 1px solid; */
    background-color: #240710;
    color: white;





}

.footer-box1 {
    /* border: 1px solid red; */
    padding-top: 3%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;







}


.footer-box2 {
    /* border: 1px solid; */
    width: 500px;
    height: 430px;
}

.footer-box2 h1 {
    padding-bottom: 20px;


}

.footer-box3 {
    /* border: 1px solid; */
    width: 150px;
    height: 300px;


}

.footer-box3 nav ul {
    display: flex;
    flex-direction: column;
}


.footer-box3 ul li {
    list-style: none;
    padding: 7px 0;
}

.footer-box3 h2 {
    font-weight: 400;
    padding-bottom: 10px;


}

.footer-box4 h2 {
    text-align: center;
}

.links ul {
    display: flex;

    gap: 37px;

}

.links ul li {
    list-style: none;
}

.links ul li i {
    font-size: 20px;
    /* color: white; */
}

.links ul li:hover i {
    color: #c19d56;
}

.footer-box4 {
    /* border: 1px solid; */
    width: 300px;
}

.gallery {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 10px;
}

.gallery-box {
    /* border: 1px solid; */
    width: 100px;
    height: 100px;
    overflow: hidden;

}

.gallery-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

.gallery-box:hover img {

    transform: rotate(2deg) scale(1.2);


}

.final-details {
    /* border: 1px solid; */
    padding: 2% 0;
    text-align: center;
    line-height: 2;
    letter-spacing: 1px;
}

.con-head1 nav ul li a {
    text-decoration: none;
    color: white;
}

.map1 {
    /* border: 1px solid red; */
    width: 100%;
    height: 70%;
    border-radius: 20px;
}

@media all and (max-width:768px) {
    .contact-form .contact-form1 {
        /* border: 1px solid blue; */
        width: 100%;
        padding-top: 16px;
    }

    .footer-box2 {
        /* border: 1px solid; */
        width: 100%;
        height: 425px;


    }

    .footer-box1 {
        /* border: 1px solid red; */
        padding-top: 3%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .contact-img {
    /* border: 1px solid; */
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding-top: 8%;
}

}