/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
} */

.con {
    /* border: 1px solid red; */
    height: 100vh;
    padding: 0 0 20rem 0;

}

.container {
    /* border: 1px solid #00ff2a; */
    height: 70vh;
    background: url("../img/front-view-chocolate-cake-concept.jpg") no-repeat;

    background-size: cover;
    background-position: left center;


    position: relative;


}

.con-head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0;
    background-color: black;

}

.head-icon-img {
    /* border: 1px solid; */
    /* margin-right: 40%; */
}

.head-icon-img h1 {
    color: #fdb822;
}



.con-head nav ul {
    display: flex;
    padding-top: 21px;
}

.con-head nav ul li {
    list-style: none;
    padding: 0 20px;

}

.con-head nav ul li a {
    text-decoration: none;
    color: white;
}

.con-head nav ul li:hover a {
    color: #df5e13;
}

.side-icon ul li:hover i {
    color: #df5e13;
}

.side-icon ul {
    display: flex;
    padding-top: 20px;
}

.side-icon ul li {
    list-style: none;
    padding: 0 10px;
    color: white;
}

.body-contain {
    /* border: 1px solid blue; */




}

.body-side-info+h1 {
    color: white;
    position: absolute;
    left: 35%;
    top: 20%;
}

.body-side-info {
    /* border: 1px solid; */
    position: relative;
}

.body-side-info ul {
    /* border: 1px solid; */

    width: 130px;
    padding: 15px;
    position: fixed;
    right: -96px;
    top: 200px;
    background-color: #df5e13;
    color: white;
    transition: 1s;
}

.body-side-info ul li {
    list-style: none;

}

.body-side-info:hover ul {
    right: 10px;
}

.cupcake {
    /* border: 1px solid burlywood; */
    /* background: url("../img/top-view-little-yummy-cake-with-cream-fresh-red-strawberries-light-desk-cake-fruit-berry-biscuit-sweet-cream.jpg") no-repeat; */
    /* background-size: cover;
    background-position: left; */
    background-color: #f5dddd;
}

.cupcake-body {
    /* border: 1px solid blue; */


    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 50px;

}

.cart-design {
    /* border: 1px solid; */
    width: 300px;
    height: 427px;
    position: relative;
    overflow: hidden;
}

.card-img {

    width: 300px;
    height: 300px;
    /* border: 1px solid; */
    overflow: hidden;
}

.card-img>img {
    /* border: 1px solid; */
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.cup-head p {
    text-align: center;
    color: #fdb822;
    padding: 5px 0;

}

.cup-head h1 {
    text-align: center;
    padding: 7px 0;
}

.cup-head h4 {
    text-align: center;
    /* border: 1px solid; */

    padding: 1% 20%;
    font-weight: 400;
    word-spacing: 2px;

}


.cart-img-foot {
    /* border: 1px solid red; */
    height: 300px;
    width: 300px;
    position: absolute;
    top: -300px;
    background-color: #ffffff88;
}

.cart-img-foot ul {
    /* border: 1px solid; */

    display: flex;
    justify-content: center;
    padding-top: 40%;

    gap: 10px;





}

.cart-img-foot ul li {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    list-style: none;
    position: relative;

    /* border: 1px solid; */

    background-color: #df5e13;
    color: white;


}

.cart-design:hover .cart-img-foot {
    top: 0;
}

.cart-img-foot ul li:hover {
    background-color: black;
}

.cart-img-foot ul li i {
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    top: 17px;
    left: 17px;

}


.cart-foot {
    /* border: 1px solid; */

}

.cart-foot h2 {
    padding: 10px 0;
    text-align: center;
    /* border: 1px solid; */
}

.cart-foot ul {
    display: flex;
    justify-content: center;
}

.cart-foot ul li {
    list-style: none;
    /* padding:  5px; */
    padding-bottom: 10px;
    padding-left: 5px;
}

.cart-foot span {
    color: #fdb822;
    padding: 0 40%;
    font-size: 20px;

}

.cart-foot ul li:hover {
    color: #fdb822;
}

.fa-bars {

    display: none;
}

@media all and (max-width:768px) {

    .head-icon-img {
        /* border: 1px solid; */
        margin-right: 0%;
    }

    .con {
        /* border: 1px solid red; */
        height: 70vh;
        padding: 0 0 20rem 0;
    }

    .body-side-info+h1 {
        color: white;
        position: absolute;
        left: 14%;
        top: 33%;
    }

    .con-head nav {
        width: 100%;
        position: relative;




    }

    .con-head nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -300px;
        z-index: 99;

        background-color: #000000cc;
        width: 100%;


    }

    .con-head nav ul li {
        list-style: none;
        padding: 10px 20px;
        text-align: center;
    }

    .con-head {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 0;
        background-color: #f5dddd;
    }

    .side-icon {
        display: none;
    }

    .fa-bars {
        position: absolute;
        right: 10px;
        top: 20px;
        display: block;
    }

    #cake:checked~nav ul {
        position: absolute;
        top: 10px;
    }
       .cup-head h1 {
    text-align: center;
    padding: 7px 0;
    font-size: 24px;
}








}