@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}




.about-container {
    /* border: 1px solid red; */
    background: url("../img/home-9-bg2.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.about-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 5% 0;

}

.about-box1 {
    /* border: 1px solid; */
    width: 550px;
    height: 400px;
}

.about-box2 {
    padding-top: 5%;
}


.about-box1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-box1 h2 {
    color: #FF9457;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
}

.about-box1 h1 {
    color: white;
    word-spacing: 2px;

    font-weight: 400;
    line-height: 1.2;
    margin-top: 10px;
}

.about-box1 p {
    color: white;
    margin-top: 20px;
    word-spacing: 2px;
    line-height: 1.3;
}


.bottom-button {
    text-align: center;
    padding: 20px 0;
}

.bottom-button button {
    border: 1px solid;
    border: none;
    color: white;
    font-weight: 400;
    padding: 16px 35px;
    background-color: #df5e13;
}

button:hover {
    background-color: black;
    /* border: 1px solid; */
}




.btn {

    text-align: start;
}

.btn1:hover {
    background-color: transparent;
    border: 1px solid;

}

.about-chef {
    /* border: 1px solid red; */
    padding: 50px 0;

    background-color: #f5dddd;


}

.chef-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;




}

.header h2 {
    color: #df5e13;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    /* padding-top: 20px; */
}

.header h1 {
    font-size: 40px;
    text-align: center;
    line-height: 1.4;
    padding: 0 0 30px 0;
}

.chef-box {
    /* border: 1px solid; */
    width: 300px;
    height: 400px;








}

.chef-box .chef-box-img {
    /* border: 1px solid; */
    height: 300px;
    overflow: hidden;



}

.chef-box .chef-box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chef-box .chef-box-footer {
    background-color: aliceblue;
    height: 100px;
    overflow: hidden;
    position: relative;



}

.chef-box .chef-box-footer h2 {
    text-align: center;
    padding: 15px 0;
    font-size: 20px;
}

.chef-box .chef-box-footer p {
    text-align: center;
    font-size: 18px;
}

.chef-box-footer .chef-icons {
    /* border: 1px solid; */
    width: 300px;
    height: 100px;
    background-color: #df5e13;
    position: absolute;
    bottom: -100px;







}

.chef-icons ul {
    /* border: 1px solid; */

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
    gap: 10px;




}

.chef-icons ul li {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    list-style: none;
    position: relative;

    background-color: white;


}

.chef-icons ul li i {
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    top: 17px;
    left: 17px;

}

.chef-box:hover .chef-icons {
    top: 0;

}

.chef-box-img:hover img {
    transform: scale(1.1) rotate(3deg);
    transition: 1s;
}

.container1 {
    /* border: 1px solid red; */
    position: relative;
}

.contain-body {
    border: 1px solid;

}

.contain-body h1 {
    text-align: center;
    margin-top: 10%;
    color: white;
}

.body-card {
    /* border: 1px solid blue; */
    width: 65%;
    padding-bottom: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* gap: 20px; */
    position: absolute;
    bottom: -100px;
    left: 300px;
    background-color: white;
    padding-top: 20px;


}

.body-card-box {
    /* border: 1px solid; */
    width: 300px;
    height: 490px;
}

.body-card-box .card-img {
    /* border: 1px solid; */
    width: 300px;
    height: 350px;
    overflow: hidden;
}

.card-img>img {
    /* border: 1px solid; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;

}

.card-img:hover img {
    transform: scale(1.2, 1.2);

}

.body-card-foot h1 {
    text-align: center;
    padding-top: 10PX;

}



@media all and (max-width:768px) {





    .about-box1 h1 {
        color: white;
        word-spacing: 2px;
        font-weight: 400;
        line-height: 1.2;
        margin-top: 10px;
        font-size: 30px;
    }

    .about-box1 p {
        color: white;
        margin-top: 20px;
        font-size: 15px;

        line-height: 1.3;
    }

    .chef-box {
        /* border: 1px solid; */
        width: 300px;
        height: 400px;
        margin-bottom: 10px;
    }

    .header h1 {
        font-size: 24px;
        text-align: center;
        line-height: 1.4;
        padding: 0 0 30px 0;
    }

    .contact-head h1 {
        font-weight: 300;
        padding: 13px 0;
        font-size: 24px;
    }

    .footer-box2 h1 {
        padding-bottom: 20px;
        font-size: 24px;
        text-align: center;
    }

    .contact .branch h1 {
        font-size: 24px;
        font-weight: 400;
        line-height: 1.5;
        padding-bottom: 10px;
        color: white;
        text-align: center;
    }
 




}


@media all and (max-width:1634px) {
    .body-card {
        /* border: 1px solid blue; */
        width: 65%;
        padding-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        /* gap: 20px; */
        position: absolute;
        bottom: -100px;
        left: 300px;
        background-color: white;
        padding-top: 20px;
        display: none;
    }

}