@media only screen and (max-width: 1024px){
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
h1 { font-size: 58px;}h2 { font-size: 47px;}h3 { font-size: 36px;}}

@media only screen and (min-width: 681px) and (max-width: 768px){
h1 { font-size: 58px;}h2 { font-size: 47px;}h3 { font-size: 36px;}}

@media only screen and (max-width: 680px){
h1 { font-size: 34px;letter-spacing: .08em;}h2 { font-size: 32px;}h3 { font-size: 29px;}}